@use './components/fonts';
@use './components/colors';

body {
  background-color: #47bcee;
}

header {
  nav {
    background-color: #004b6b;
    color: #fff;
    font-family: montAltBold;
    font-size: 40px;
    min-width: 100%;
    padding: 8px 0;
    text-align: center;
  }
}

#tasks-form {
  background-color: rgba(255, 230, 230, 0.5);
  position: absolute;
  margin: 0 auto;
  min-height: 100%;
  text-align: center;
  width: 100%;
  &.hidden {
    display: none;
  }

  form {
    border-radius: 10px;
    background-color: rgba(90, 176, 212, 0.9);
    display: block;
    margin: 50px auto;
    max-height: 661px;
    width: 300px;
    padding: 20px;
    position: relative;

    h1 {
      color: #fff;
      font-family: montAltBold;
    }

    label {
      color: #fff;
      font-family: montAltBold;
    }

    select,
    textarea,
    input[type='text'],
    input[type='date'] {
      border: none;
      border-radius: 10px;
      font-family: montRegular;
      padding: 15px;
      margin: 5px 0 20px 0;
      background: #eee;
      width: 90%;
    }

    select:hover,
    textarea:focus,
    input[type='text']:focus,
    input[type='date']:focus {
      background-color: #ddd;
      outline: none;
    }

    button {
      padding: 12px 20px;
      background-color: #0081b8;
      color: #fff;
      cursor: pointer;
      width: 100%;
      margin-bottom: 15px;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      &#cancel-task {
        background-color: #b30000;
      }
    }
  }
}

main {
  display: grid;
  margin: auto;
  min-height: 760px;
  max-width: 1440px;
  grid-template-columns: 350px 1fr;

  #sidebar-section {
    background-color: #0081b8;
    min-height: 100vh;
    max-width: 350px;
    text-align: center;

    h1 {
      border-top: colors.$fadedWhite 5px solid;
      border-bottom: colors.$fadedWhite 5px solid;
      color: colors.$fadedWhite;
      font-family: montAltSemiBold;
      font-size: 35px;
      margin-top: 0px;
      margin-bottom: 40px;
      padding: 7px 0;
    }

    #add-folder {
      background-color: colors.$addButtonColor;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      display: inline;
      font-family: montAltBold;
      font-size: 40px;
      padding: 0 12.5916px;

      &:hover {
        background-color: rgb(141, 201, 247);
        transition: background-color 0.4s, border-color 0.4s;
      }
    }

    form {
      align-items: center;
      background-color: rgb(47, 149, 192);
      border-radius: 10px;
      display: grid;
      grid-template-areas:
        'label label label submit'
        'input input input cancel';
      margin-top: 30px;
      padding: 20px;

      &.hidden {
        display: none;
      }

      label {
        color: #fff;
        font-family: montAltBold;
        font-size: 20px;
        grid-area: label;
      }

      input[type='text'] {
        border: none;
        border-radius: 10px;
        font-family: montRegular;
        grid-area: input;
        padding: 15px;
        margin: 5px 0 5px 0;
        background: #eee;
        width: 205px;

        &:focus {
          background-color: #ddd;
          outline: none;
        }
      }

      button#folder-submit {
        background-color: rgb(47, 149, 192);
        border: 2px solid #4caf50;
        border-radius: 5px;
        cursor: pointer;
        grid-area: submit;
        justify-self: end;
        margin: auto 25px;
        transition-duration: 0.4s;
        &:hover {
          background-color: #4caf50;
          color: #69beff;
        }

        .fa-check {
          pointer-events: none;
        }
      }

      button#cancel-folder {
        background-color: rgb(47, 149, 192);
        border: 2px solid #000;
        border-radius: 5px;
        color: #000;
        cursor: pointer;
        display: block;
        grid-area: cancel;
        justify-self: end;
        margin: auto 25px;
        padding-left: 13px;
        padding-right: 13px;
        transition-duration: 0.4s;
        &:hover {
          background-color: #000;
          color: rgba(220, 53, 69, 1);
        }

        .fa-window-close {
          pointer-events: none;
        }

        svg {
          padding: auto 14px;
        }
      }
    }

    #folders {
      padding: 20px;

      .folder {
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        border-radius: 10px;
        background-color: rgba(13, 202, 240, 0.8);
        color: #fff;
        cursor: pointer;
        display: grid;
        font-size: 30px;
        font-family: montAltRegular;
        grid-template-columns: 8fr 1fr;
        margin: 15px auto;
        padding: 20px;

        &:hover {
          background-color: rgba(176, 196, 222, 1);
          transition: background-color 0.3s;
        }

        &.selected {
          background-color: rgba(13, 202, 240, 1);
        }

        &.hidden {
          display: none;
        }

        .fa-trash-alt {
          color: rgba(220, 53, 69, 1);
          pointer-events: none;
        }
      }
    }
  }

  #tasks-section {
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
      color: colors.$fadedWhite;
      font-family: montAltBold;
      font-size: 45px;
      margin-top: 50px;
      margin-bottom: 0;
    }

    button#add-task {
      /* background-color: */
      background-color: #e7e7e7;
      border: 2px solid #e7e7e7;
      border-radius: 5px;
      color: #000;
      cursor: pointer;
      display: block;
      font-family: montAltRegular;
      font-size: 16px;
      margin: 15px auto;
      padding: 10px 15px;
      transition-duration: 0.4s;

      &:hover {
        background-color: #47bcee;
      }
    }

    #tasks {
      .task {
        border-radius: 10px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
          rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        color: #fff;
        font-family: montAltRegular;
        padding: 20px;
        margin: 20px auto;
        width: 700px;

        &[data-priority='Low'] {
          background-color: #254d32;
        }

        &[data-priority='Medium'] {
          background-color: #b69802;
        }

        &[data-priority='High'] {
          background-color: #b4182d;
        }

        h2 {
          font-size: 27.5px;
          margin: 0 auto 22px auto;
          text-align: center;
        }

        button.remove-task {
          border: 2px solid #e7e7e7;
          border-radius: 10px;
          cursor: pointer;
          display: block;
          margin: 0 auto;
          transition-duration: 0.4s;

          &:hover {
            background-color: #6c757d;
          }

          .fa-times {
            color: rgba(220, 53, 69, 1);
            pointer-events: none;
          }
        }
      }
    }
  }
}
