@font-face {
  font-family: montAltBold;
  src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf');
}

@font-face {
  font-family: montAltRegular;
  src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
}

@font-face {
  font-family: montRegular;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: montAltSemiBold;
  src: url('../assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf');
}
